@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body {
    background: #222;
    font-family: 'Roboto', sans-serif;
}

.counter {
    margin: auto;
    text-align: center;
    height: 400px;
    position: absolute;
    left: 0;
    width: 400px;
    right: 0;
    top: 0;
    bottom: 0;
}

.count,
.input-txt {
    color: #ddba1d;
}

.count{
    font-size: 144px;
}

.buttons {
    margin: 0 0 20px;
}

.btn {
    background: #ddba1d;
    display: inline-block;
    cursor: pointer;
    font-size: 33px;
    height: 45px;
    line-height: 45px;
    margin: 0 3px;
    min-width: 45px;
    padding: 0 10px;
}

.input-txt {
    background: transparent;
    border: 0;
    font-size: 50px;
    text-align: center;
    width: 100%;
}
